PRIVATE_KEY_DEPLOYER="c8c52a76ea77b3aff8e9004f2566089d01a9448016064b2"
ETHERNAL_EMAIL="" # Needed only if using --enable-explorer with dApp Launchpad
ETHERNAL_PASSWORD="" # Needed only if using --enable-explorer with dApp Launchpad
ETHERNAL_WORKSPACE="" # Needed only if using --enable-explorer with dApp Launchpad
